body{
    display: grid;
    grid-template-columns: var(--w-prem-col) 1fr;
    grid-template-rows: 4rem 1fr;
    grid-template-areas:   
        "header header"
        "nav main";
}

header {
    grid-area: header;
}

nav.env {
    grid-area: nav;
}

main {
    grid-area: main;
}

@media (max-width: 580px) {
    body{
        grid-template-columns:  1fr;
        grid-template-rows: 3rem  minmax(400px,1fr) 3rem;
        grid-template-areas:   
            "header"
            "main"
            "nav";
    }
}