:root {
    --bg-col-header :#333;
    --bg-col-main :#f2f2f2;
    --bg-col-nav:#0088ce;
    --bg-col-sel:#0074af;
    --col-sel-dark:#025077;

    --w-prem-col: 10rem;
}

html {
    font-family:Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*---- header ----*/

header {
    background-color: var(--bg-col-header);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .logo  {
    width: var(--w-prem-col);
    height: 2.25rem;
    display: flex;
    justify-content: center;
}

header .logo img {
    height: 2.25rem;
}

header h1 {
    color: white;
    text-transform: uppercase !important;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
}

/*---- nav ----*/
nav.env {
 background-color: var(--bg-col-nav);
}

nav.env ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

nav.env ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500 !important;
    cursor: pointer;
}

nav.env ul li.actif,nav.env ul li:hover {
    background-color: var(--bg-col-sel);
}


/*---- main ----*/
main {
    background-color: var(--bg-col-main);
}

.link-area {
    padding: 0.5rem 1rem;
}

/* RESPONSIVE */
@media (max-width: 550px) {
    header .logo img {
        height: 1.625rem;
    }
    header h1 {
        font-size: 1rem;
    }
    
    nav.env ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        height: 100%;
    }

    nav.env ul li {        
        height: 100%;
    }
    
    nav.env ul li.actif {
        border-top: 4px solid var(--col-sel-dark);
    }

    nav.env ul li{
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
}

/* RESPONSIVE */
@media (min-width: 550px) {
    nav.env ul li { 
        height: 50px; 
    }
    
    nav.env ul li.actif {
        border-right: 4px solid var(--col-sel-dark);
    }
    
    nav.env ul li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}